<%- include('./components/header.ejs') -%>
<main>
    <section>
        <div>
            <h2>Al je gemaakte bestellingen!</h2>
            <p><%= allOrders %></p>
        </div>
    </section>
</main>
<%- include('./components/footer.ejs') -%>
