<%- include('./components/header.ejs') -%>
    <main>
        <section>
            <div>
                <form method="post" action="/stap2">
                    <label for="color">Kies de kleur van je t-shirt:</label>
                    <select required id="color" name="color">
                        <option disabled selected value="">Kies een kleur</option>
                        <option value="#EE4B2B">Rood</option>
                        <option value="#05B8CC">Blauw</option>
                        <option value="#FFBF00">Geel</option>
                        <option value="#454B1B">Groen</option>
                        <option value="black">Zwart</option>
                    </select>

                    <label for="text">Welke tekst wil je op je shirt? (Er hoeft geen tekst bedrukt te worden)</label>
                    <input id="text" type="text" name="text" placeholder="Type hier je tekst"/>

                    <label for="size">Kies de maat van je t-shirt:</label>
                    <select required id="size" name="size">
                        <option disabled selected value="">Kies een maat</option>
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                    </select>

                    <button>Doorgaan</button>
                </form>
            </div>
        </section>
    </main>
<%- include('./components/footer.ejs') -%>
