<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="/style/style.css" rel="stylesheet"/>
    <title>T-Shirt</title>
</head>
<body>
    <header>
        <h1>Design je shirt!</h1>
    </header>
    <main>
        <section>
            <a href="/stap1">Starten!</a>
            <p>Hallo, op deze website kan je je eigen t-shirt designen. Heb je geen tijd maar ben je nog niet klaar? Dan kan je gewoon op een ander moment je t-shirt afmaken.</p>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>