* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 3em;
}

main section {
    width: 60%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

main section div {
    display: block;
    margin: 0 auto;
    width: 60%;
}

main section a {
    padding: 10px 20px;
    background-color: royalblue;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 24px;
    margin: 100px auto;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

main section div h2 {
    margin: 50px 0;
}

main section div button {
    padding: 10px 20px;
    background-color: royalblue;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 24px;
    margin: 100px auto;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

main section p {
    font-size: 26px;
}

main section div p {
    font-size: 16px;
}

main section div form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

main section div form input, select {
    display: inline;
    margin-bottom: 20px;
}

main section div svg {
    display: block;
    margin: 0 auto 30px;
}

@media only screen and (max-width: 600px) {
    main section {
        width: 90%;
    }

    main section div {
        width: 100%;
    }
}